<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <th:block th:fragment="header">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
        <script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
        <script th:src="@{/js/popper.min.js}" type="text/javascript"></script>
        <script th:src="@{/ja/jquery-3.2.1.slim.min.js}" type="text/javascript"></script>
        <link rel="stylesheet" th:href="@{/css/style.css}" />
    </th:block>

</head>
<body>

    <div th:fragment="nav">
        <nav class="navbar navbar navbar-expand-lg navbar-dark bg-dark fixed-top">

            <!-- Links -->
            <ul class="navbar-nav">
                <!-- isAuthenticated() means you're logged in -->
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="#">Welcome <span
                            th:text="${#authentication.name}"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <!-- !isAuthenticated() means you're NOT logged in-->
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>

        </nav>
    </div>

    <div th:fragment="footer">
        <div class="footer">Copyright 2019</div>
    </div>

</body>
</html>