<!-- Shows all course listings -->
<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"-->
          <!--integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />-->
    <th:block th:insert="base :: header"></th:block>
</head>
<body>
    <div th:replace="base :: nav"></div>

    <div class="container">

        <!--<div th:replace="base :: nav"></div>-->
        <br>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Instructor</th>
                    <th scope="col">Credits</th>
                    <th scope="col">Description</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="course : ${courses}">  <!-- Thymeleaf's enhanced for loop -->
                    <td th:text="${course.title}"></td>
                    <td th:text="${course.instructor}"></td>
                    <td th:text="${course.description}"></td>
                    <td th:text="${course.credit}"></td>
                    <td>
                        <!-- Any user can update -->
                        <span th:if="${user_id == course.user.id}">
                            <a th:href="@{/update/{id}(id=${course.id})}">Update</a>
                        </span>
                        <!-- Only admin can delete -->
                        <div sec:authorize="hasAuthority('ADMIN')">
                            <a th:href="@{/delete/{id}(id=${course.id})}">Delete</a>
                        </div>
                        <a th:href="@{/detail/{id}(id=${course.id})}">Details</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="base :: footer"></div>

</body>
</html>